* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F4983;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.ca-wrap,
.item,
h2,
p {
    color: #fff;
    font-size: 1.5em;
}


.container {
    max-width: 2048px;
    margin: auto;
}

.ca-wrap {
    text-align: center;
    padding: 1em;
}

.banner-wrap {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
    background-color: #EB3331;
}

.banner-wrap p {
    padding: 1em;
}

.banner-wrap .title {
    font-size: 3em;
    color: #fff;
}

.banner-wrap .tag {
    font-size: 4em;
    color: #1F4983;
}

.banner-wrap img {
    width: 50%;
    /* margin: 1em 0; */
}

.about {
    background-color: #1F4983;
    color: #fff;
    padding: 2em;
}

.about .content {
    display: flex;
    text-align: left;
    gap: 2em;
}

.about .content h2 {
    font-size: 3em;
    text-align: center;
    margin: .5em auto;
}

.about .content p {
    font-size: 1em;
    line-height: 2em;
}

.about img {
    width: 400px;
}

.socials {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.socials a {
    text-decoration: none;
    margin-right: 1em;
    font-size: 2em;
    color: #eee;
    cursor: pointer;
}

.tokenomics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    margin-top: 1em;
}

.item {
    margin-right: 1em;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 2em;
    gap: 2em;
}

.image-content img {
    width: 50%;
}

.image-no-content img {
    width: 100%;
    margin-top: 2em;
}

@media screen and (max-width: 768px) {

    .ca-wrap,
    .item,
    h2,
    p {
        color: #fff;
        font-size: 1.3em;
    }


    .socials a {
        font-size: 1.5em;
    }

    .ca-wrap {
        font-size: .7em;
    }


    .banner-wrap {
        flex-direction: column;
    }

    .banner-wrap p,
    .banner-wrap .title,
    .banner-wrap .tag {
        font-size: 1.3em;
    }

    .banner-wrap p {
        padding: 0em;
    }

    .about .content h2 {
        font-size: 1.3em;
    }

    .about .content {
        flex-direction: column;
    }

    .about img {
        width: 100%;
    }

}